{% extends "index.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form method="POST" action="{{ url_for('auth_bp.register') }}">
                {{ register_form.csrf_token }}
                <h1>Create Account</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> -->
                <!-- <span>or use your email for registeration</span> -->
                {% for field in register_form %}
                    {{ field }}
                    {% for error in field.errors  %}
						<p style="color: red; margin-top: 0; font-size: 10px;">{{error}}</p>
					{% endfor %}
                {% endfor %}
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form method="POST" action="{{ url_for('auth_bp.login') }}">
                {{ login_form.csrf_token }}
                <h1>Sign In</h1>
                <!-- <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div> -->
                <!-- <span>or use your email password</span> -->
                {% for field in login_form %}
                    {{ field }}
                    {% for error in field.errors  %}
						<p style="text-align: left; margin-top: 5px;">{{error}}</p>
					{% endfor %}
                {% endfor %}
                <!-- <a href="#">Forget Your Password?</a> -->
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const container = document.getElementById('container');
        const registerBtn = document.getElementById('register');
        const loginBtn = document.getElementById('login');

        registerBtn.addEventListener('click', () => {
            container.classList.add("active");
        });

        loginBtn.addEventListener('click', () => {
            container.classList.remove("active");
        });

        const action = "{{action}}"
        if (action == "register") {
            container.classList.add("active");
        }
    </script>
{% endblock %}