<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <title>ShopBot | {% block title %}{% endblock %}</title>
    <!--Sweet alert-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
</head>
<body>
    {% for category, message in get_flashed_messages(with_categories=true) %}
	<script>
	   Swal.fire({
 
		title: "{{ category.title() }}",
		// success , error , warning ,info

		text: "{{ message }}",
		// Custom message flashed from your flask routes

		icon:"{{ category }}",
		// success , error , warning ,info
		timer: 3500

	   })
	</script>
	{% endfor %}
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>